.venv/Lib/site-packages/_cffi_backend.cp311-win_amd64.pyd
.venv/Lib/site-packages/cryptography/hazmat/bindings/_rust.pyd
.venv/Lib/site-packages/greenlet/_greenlet.cp311-win_amd64.pyd
.venv/Lib/site-packages/markupsafe/_speedups.cp311-win_amd64.pyd
.venv/Lib/site-packages/sqlalchemy/cyextension/collections.cp311-win_amd64.pyd
.venv/Lib/site-packages/sqlalchemy/cyextension/immutabledict.cp311-win_amd64.pyd
.venv/Lib/site-packages/sqlalchemy/cyextension/processors.cp311-win_amd64.pyd
.venv/Lib/site-packages/sqlalchemy/cyextension/resultproxy.cp311-win_amd64.pyd
.venv/Lib/site-packages/sqlalchemy/cyextension/util.cp311-win_amd64.pyd
.venv/Scripts/python.exe
/.venv
/venv
.DS_Store
/static/uploads
/instance
instance/database.db
/__pycache__
/migrations
ngrok.exe
