{% extends 'index.j2' %}
{% from 'components/status-block.j2' import status_block %}

{% block title %}Page Not Found{% endblock title %}
{% block content %}

{{ status_block(
    "page_not_found",
    image="/static/images/404-banner.png",
    buttons=[
        {"data_localize": "jump_into_booking", "link": "/", "class": "primary"}
    ])
}}

{% endblock content %}