<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<link rel="stylesheet" href="/static/styles/main.css">
<link rel="stylesheet" href="/static/styles/admin.css">

<h1>Admin panel</h1>
<a href="/">book.seniwave.com</a>

<progress id="init-progress" style="display: none;"></progress>

<hr>

<div>
    <h2>Working days</h2>
    <div class="flex-cl label-margin-0">
        <div class="flex-between">
            <label for="1">Monday</label>
            <input type="checkbox" name="1" id="1">
        </div>
        <div class="flex-between">
            <label for="2">Tuesday</label>
            <input type="checkbox" name="2" id="2">
        </div>
        <div class="flex-between">
            <label for="3">Wednesday</label>
            <input type="checkbox" name="3" id="3">
        </div>
        <div class="flex-between">
            <label for="4">Thursday</label>
            <input type="checkbox" name="4" id="4">
        </div>
        <div class="flex-between">
            <label for="5">Friday</label>
            <input type="checkbox" name="5" id="5">
        </div>
        <div class="flex-between">
            <label for="6">Saturday</label>
            <input type="checkbox" name="6" id="6">
        </div>
        <div class="flex-between">
            <label for="7">Sunday</label>
            <input type="checkbox" name="7" id="7">
        </div>
    </div>
</div>

<hr>

<div class="flex gap-8">
    <div class="flex-cl">
        <label for="span-size">Slot size (minutes):</label>
        <input id="span-size" name="span_size" type="number" value="30" min="5" step="5">
    </div>
    <div class="flex-cl">
        <label for="break-size">Break time (minutes):</label>
        <input id="break-size" name="break_size" type="number" value="10" min="0" step="1">
    </div>
</div>

<div class="flex gap-8">
    <div class="flex-cl">
        <label for="start-time">Start hour:</label>
        <input id="start-time" name="start_time" type="number" value="0" min="0" step="1">
        </div>
    <div class="flex-cl">
        <label for="end-time">End hour:</label>
        <input id="end-time" name="end_time" type="number" value="24" min="1" step="1">
    </div>
</div>
<button
    hx-post="/api/init/spans"
    hx-include="#span-size, #start-time, #end-time, #break-size, input[type='checkbox']"
    hx-trigger="click"
    hx-target="#span-status"
    hx-swap="#span-status"
    hx-indicator="#span-progress"
>
    UPDATE
    <span class="post-result" id="span-status"></span>
</button>

<progress id="span-progress" style="display: none;"></progress>

<hr>

<button class="danger"
    hx-post="/api/init/all"
    hx-trigger="click"
    hx-swap="outerHTML"
    hx-target="#init-status"
    hx-indicator="#init-progress"
>
    RESET ALL
    <span class="post-result" id="init-status"></span>

</button>