{% extends 'index.j2' %}


{% block content %}

<h1 class="center">Meeting with <img class="logo-animated" src="/static/logos/small.svg" alt="SeniWave" align="bottom">SeniWave</h1>
<div class="block confirm flex-cl gap-12">
    <div class="flex">
        <div class="left-side flex-cl flex-between gap-32">
            <div class="flex align-center gap-4">
                <h2 id="confirm-date">{{ date }}</h2>
                {% if meeting_request%}
                <button class="no-fill circle" data-description="Meet booked successfully">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none"><path d="M1 7.45833C3.1875 8.83333 4.35841 10.0953 5.66667 12.5C7.125 8.83333 10.625 3.33333 15 1.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </button>
                {% endif %}
            </div>
            <div class="flex-cl">
                <p>30 min</p>
                <p>Online Meeting</p>
                {{ meeting_request.services }}
            </div>
        </div>
        <div class="right-side flex-cl flex-between align-end">
            <h1 id="confirm-time">{{ start_time }} <br> {{ end_time }}</h1>
            <p>GMT + 03:00</p>
        </div>
    </div>
</div>

<div class="flex flex-wrap align-center gap-4">
    <a href="/meet/{{ meeting_request.id }}/get_event" class="default bg-2" id="add-to-calendar" type="button">
        Add to calendar
    </a>
    <button class="default no-bg danger" id="cancel-meeting" type="button" hx-get="/api/cancel/{{ meeting_request.id }}" hx-swap="innerHTML">
        Cancel Meeting
    </button>
    <button class="default no-bg" id="resend-code" type="button" hx-get="/api/resend/{{ meeting_request.id }}" hx-swap="innerHTML">
        Resend code
    </button>
</div>

<script>
    document.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.xhr.status === 200) {
            const response = event.detail.xhr.responseText;
            if (response.includes('cancelled')) {
                setTimeout(function() {
                    window.location.href = '/';
                }, 2000);
            }
        }
    });
    $('#resend-code').on('click', function() {
        this.innerHTML = 'Resending...';
    });
</script>

{% endblock content %}