{% from 'components/menu_view.j2' import menu_view %}
{% from 'components/date_block.j2' import date_block %}
{% from 'components/time_block.j2' import time_block %}
{% from 'components/confirm_block.j2' import confirm_block %}
{% from 'components/details_block.j2' import details_block %}
{% from 'components/tooltip/actions.j2' import tooltip_actions %}
{% from 'components/tooltip/services.j2' import tooltip_services %}

{% from 'components/icons.j2' import icon %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book meeting with Seniwave</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script type="module" src="https://lbvo.ru/utils/init.js" async defer></script>

    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/wind.css">
    <link rel="icon" href="/static/favicon/fav.ico" sizes="48x48" type="image/x-icon">
    <link rel="icon" href="/static/favicon/fav.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="/static/favicon/fav.png" sizes="48x48">
    <link rel="icon" href="/static/favicon/fav.svg" type="image/svg+xml">

    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
</head>
<body>
    <header class="flex-between w-100">
        <div class="flex">
            {% block back_button %}
            <a id="back-button" class="no-fill circle" href="https://seniwave.com" data-description="Back to SeniWave">
                {{ icon("back", "secondary-color") }}
            </a>
            {% endblock back_button %}
            <div class="mobile-only">

            </div>
        </div>
        <button class="no-fill circle toggle-menu" data-description="Menu">
            {{ icon("menu", "secondary-color") }}
        </button>
    </header>
    
    <div class="global">
        {{ tooltip_actions() }}
        {{ tooltip_services() }}
        <div class="wrapper">
            {% block content %}
            {{ date_block() }}
            {{ time_block() }}
            <form class="confirmation hidden" method="POST" action="/submit">
                <input type="hidden" id="hidden-date" name="date" value="">
                <input type="hidden" id="hidden-slot-id" name="slot_id" value="">
                {{ confirm_block("", "") }}
                {{ details_block() }}
                <button class="accent" type="submit">
                    Confirm
                    {{ icon("check2", "contrast-to-accent") }}
                </button>
            </form>
            {% endblock content %}
        </div>
        {{ menu_view() }}
    </div>

    <script>
        window.calendarData = {
            year: {{ year }},
            month: {{ month }}
        };
    </script>

    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/tooltip.js"></script>
</body>


</html>