{% extends 'index.j2' %}
{% from 'components/status-block.j2' import status_block %}

{% block title %}Meeting canceled{% endblock title %}
{% block content %}
{{ status_block(
    "meeting_canceled",
    description="you_can_book_new_meeting_or_leave_this_page",
    image="/static/images/meeting-canceled.png  ",
    buttons=[
        {"data_localize": "jump_into_booking", "link": "/", "class": "primary"}
    ])
}}

{% endblock content %}