{% extends 'index.j2' %}
{% from 'components/status-block.j2' import status_block %}

{% block title %}Meeting not found{% endblock title %}
{% block content %}
{{ status_block(
    "meeting_not_found",
    description="the_meeting_you_are_looking_for_does_not_exist",
    image="/static/images/404-banner.png",
    buttons=[
        {"data_localize": "jump_into_booking", "link": "/", "class": "primary"},
        {"data_localize": "support_via_telegram", "link": "https://t.me/seniwave", "class": "no-bg"}
    ])
}}

{% endblock content %}