{% macro confirm_block(date="", time="") %}
{% from 'components/icons.j2' import icon %}
<h1 class="center remove-on-mobile">
    <span data-localize="meeting_with">Meeting with</span>
    <img class="logo-animated" src="/static/logos/small.svg" alt="SeniWave" align="bottom">
    SeniWave
</h1>
<div class="block confirm small flex-cl gap-12">
    <div class="flex">
        <div class="left-side flex-cl justify-between gap-32">
            <h2 id="confirm-date">{{ date or "Select date" }}</h2>
            <div class="flex-cl">
                <p data-localize="duration">30 min</p>
                <p data-localize="online_meeting">Online Meeting</p>
            </div>
        </div>
        <div class="right-side flex-cl justify-between align-end">
            <h1 id="confirm-time">{{ time or "??:??<br>??:??" }}</h1>
            <p>GMT{{ session.get('timezone', '+00:00') }}</p>
        </div>
    </div>
    <button class="default full" id="return-to-edit" type="button" data-localize="return_to_edit">
        Return to edit
        {{ icon("edit", "subtle-color") }}
    </button>
</div>
{% endmacro %}