{% macro details_block() %}
{% from 'components/tooltip/select.j2' import select %}

<div class="block details gap-8">
    <h2>Fill in your details</h2>

    <div class="flex-cl gap-4">
        <label for="name">Your Full Name *</label>
        <input type="text" autocomplete="name" id="name" name="name" placeholder="Enter your name" required>

        <label for="email">Email Address *</label>
        <input type="email" autocomplete="email" id="email" name="email" placeholder="example@mail.com" required>

        <label for="services">What service you need</label>
        {{ select("Select services","services",["Branding", "Design System", "Web Development", "3D, AR and AI Animation"])}}

        <label for="message">What’s your problem?</label>
        <textarea id="message" name="message" placeholder="What is your challenge?" rows="2"></textarea>
    </div>
</div>
{% endmacro %}