{% macro status_block(title, image, buttons, description=None) %}
<div class="status-block flex-cl gap-32 align-center justify-center h-100">
<img src="{{ image }}" alt="{{ title }}" width="250">
{% if description %}
    <div class="flex-cl gap-12 align-center">
        <h1>{{ title }}</h1>
        <p style="color: var(--subtle-color);">{{ description }}</p>
    </div>
{% else %}
    <h1>{{ title }}</h1>
{% endif %}
<div class="flex flex-wrap gap-6 justify-center">
    {% for button in buttons %}
    <a href="{{ button.link }}" class="default {{ button.class }}">{{ button.text }}</a>
    {% endfor %}
</div>
</div>
{% endmacro %}