{% macro time_block() %}
<div class="time block" id="time-block" 
     hx-target="this"
     hx-swap="innerHTML">
    <p data-localize="select_date">Select a date to continue</p>
</div>
<div id="time-block-next">
    <p data-localize="select_time_period">select a time period to continue</p>
    <button class="accent" data-localize="continue">Continue</button>
</div>
{% endmacro %}